@import url(./imports/styles.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	scroll-snap-type: y mandatory;
	overflow-x: hidden;
	scroll-behavior: smooth;

	--main-color: #212121;
	--second-color: #6e6e6e;
	--third-color: #adadad;
	--negative-color: #f9fefe;
}

body {
	scroll-snap-type: y mandatory;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	background-color: #212121;
}

.sections {
	scroll-snap-align: center;
	width: 100%;
	max-width: 1440px;
	height: 100vh;

	background-color: #212121;
}
